<div class="container__big-card">
<a href="#">
  <div class="big-card__photo">
    <img
      src="https://images8.alphacoders.com/487/thumbbig-487189.webp"
      height="200px"
      alt=""
      srcset=""
    />
  </div>

  <div class="big-card__tittle">
    <h1>"A Jornada do Ninja: Uma Análise da Busca de Naruto pela Verdadeira Força".</h1>
  </div>

  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, id! Cumque, quis nostrum perferendis minus distinctio atque corrupti natus deserunt possimus, earum impedit. Repellat debitis consectetur ducimus assumenda voluptates iusto!
    </p>
  </div>

</a>
</div>
