.container__small-card {
  width: 700px;
  font-size: .9rem;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo img{
  width: 3rem;
  height: 8rem;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

.small-card__title h1 a:hover{
  color: #ADD8E6;
}

.container__small-card__separator {
  margin-top: 10px;
}
