
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://images8.alphacoders.com/487/thumbbig-487189.webp"
      cardTitle="A Jornada do Ninja: Uma Análise da Busca de Naruto pela Verdadeira Força."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, id! Cumque, quis nostrum perferendis minus distinctio atque corrupti natus deserunt possimus, earum impedit. Repellat debitis consectetur ducimus assumenda voluptates iusto!"
      ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    Id="2"
    cardPhoto="https://images2.alphacoders.com/647/thumbbig-647514.webp"
    altPhoto="Time 7"
    cardTitle="Turbulência em Konoha: Análise da Imagem do Time 7 em Meio à Tempestade em Naruto"
    ></app-small-card>

    <app-small-card
    Id="3"
    cardPhoto="https://images7.alphacoders.com/303/thumbbig-303042.webp"
    altPhoto="Naruto e Kurama"
    cardTitle="Naruto e Kurama: A história de uma aliança improvável"
    ></app-small-card>

    <app-small-card
    Id="4"
    cardPhoto="https://images7.alphacoders.com/320/thumbbig-320350.webp"
    altPhoto="Obito"
    cardTitle="Obito Uchiha: A história de um jovem shinobi corrompido pela dor e pela vingança."
    ></app-small-card>
  </div>
</div>
